body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background:  #481adf;
    border-color: #f5f123;
    margin-bottom: 5px;
}

hr {
    border:1px solid white;
}

footer {

    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
